{% extends "base/base.html" %}
{% block titulo %}Home de E-commerce{% endblock %}
{% block contenido %}
    <h2>Portada Principal</h2>
    <h3>Descripción de la WebApp “E-commerce API REST” </h3>
    <p>
        Una API REST utilizando DJANGO REST FRAMEWORK, que brinda una funcionalidad básica y acotada de un E-commerce.
    </p>
    <h3>Requisitos principales:</h3>
    <ul>
        <li>Gestionar los .</li>
        <li>Gestionar los .</li>
        <li>Gestionar las .</li>
        <li>Gestionar las .</li>
        <li>Gestionar usuarios y roles.</li>
    </ul>

    <h3>ENDPOINTS:</h3>
    <ul>
        <li>CRUD de productos.</li>
        <li>CRUD de ordenes.</li>
        <li>CRUD de detalles de ordenes.</li>
        <li>Restaurar stock del producto.</li>
        <li>Actualizar stock del producto.</li>
    </ul>

    <h3>URL del API:</h3>
    <p><a href="/api/v1/" target="_blank">/api/v1/</a></p>

    <h3>URL de Repositorio - Rama Main:</h3>
    <p><a href="https://github.com/DanielAndreatta/ecommerce_api.git" target="_blank">https://github.com/DanielAndreatta/ecommerce_api.git</a></p>
{% endblock %}